@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body{
   font-family: 'Open Sans', sans-serif;
}
/* Typography */
h1{
    font-size: 1.25rem;
}
h2{
    font-size: 1rem;
}
h3, 
h5,
.col-form-label{
    font-size: .875rem;
    font-weight: 600;
}
p,
.form-check-label,
option{
    font-size: .875rem;
    margin-left: em;
}
img{
    width: 100%;

}
.sup,
sup{
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
    /* vertical-align: super; */
    color: #f8690b;
}
.btn{
    background: #bc622a;
}
.badge{
    background: #6f482d;
}

/* Layout */
header{
    background: url('../images/pizzaheader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.site-nav{
    margin: 0 -15px;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.site-title{
    margin-left: 2em;
}
.site-title h1 {
    font-weight: 600;
    margin: 0;
}
.site-title p {
    margin: 0;
    font-style: italic;
    font-weight: 400;
}
/* navigation */

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}
nav li{
    margin-right: 2em;

}
nav a{
    text-decoration: none;
    color: black;
    padding: .25em 0;
    font-weight: 600;
}
nav a:hover,
nav a:focus{
    color:#3a3127;
    text-decoration: none;

}
.current{
    border-bottom: 1px solid white;    
}
.current:hover{
    color: #3a3127;
}

@media (min-width: 650px) {
    .site-nav{        
        flex-direction: row;
    }
    nav ul{
       flex-direction: row;
    }
    nav a{
        text-decoration: none;
        color: white;
        padding: .25em 0;
        font-weight: 600;
    }
}

.section{
    width: 90%;
    margin: 0 auto;
    background-color: #f3e4ca;

}
.sectionOne,
.sectionTwo,
.sectionThree{
    margin: .5em 0;
}

.sectionTwo h2,
.sectionThree h2{
    text-align: center;
    font-weight: bold;
}
.section h3{
    text-align: center;
    margin: 0;
}

.lctError,
.nameError,
.sizeError{
    margin-left: 2em;
    color: red;
    padding: 0 1em ;
    font-size: .75rem;
    background: rgba(253, 54, 54, 0.286); 
}
.btn:hover{
    background: #748aaf;
    /* background: #b5a893; */
    color: white;
}
#resetBtn:hover{
    background: #6d5e4e;
    color: white;
}
.orderMessage{
    background:white; 
    padding:1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}